# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
*.db*

.unlighthouse

# Large directories
images/
opencodetmp/

# Git
.git

# Docker
Dockerfile*
docker-compose*

# Docs and misc
.github/
scripts/
*.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
PROMPT.md
README.md
images/