version: "3.7"

services:
  site:
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "3000:3000"
    build:
      dockerfile: Dockerfile
      context: .

  db:
    image: ghcr.io/tursodatabase/libsql-server:latest
    platform: linux/amd64
    ports:
      - "8080:8080"
      - "5001:5001"
    # environment:
    #   - SQLD_NODE=primary
    volumes:
      - ./sqld:/var/lib/sqld
